<article>
  <h1 class="text-center">Welcome to Finance Tracker App</h1>
  <section class="mt-4">
    <div class="feature-section">
      <h3>Features</h3>
      <div class="ssssss">
        <ul class="site-features-list">
          <li>Search for a stock and see it's value in real time</li>
          <li>Add/Remove a stock to/from your portfolio</li>
          <li>Search other users by their name/email</li>
          <li>Add/Remove another User as your friend.</li>
          <li>Visit your friends profile</li>
          <li>Add stocks your friends are following</li>
        </ul>
      </div>
    </div>
  </section>
</article>
